@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}

.photographer-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photographer-photo {
    border-radius: 999px;
    object-fit: cover;
}

.photographer-name {
    color: #d3573c;
    font-size: 36px;
    text-align: center;
}

.photographer-tagline {
    text-align: center;
}

.photographer-location {
    color: var(--color-primary-dark);
}

.photographer-price {
    color: grey;
    font-size: 0.8em;
}
